---
title: Tinkering Toolbox Educator Guide
pages_to_print:
  - /en/about/
  - /en/creatures/
  - /en/story-machines/
---
<% current_page.data.pages_to_print.each do |url| %>
  <% resource = sitemap.resources.find { |resource| resource.url == url } %>
  <% next unless resource %>

  <article class="chapter">
    <%= resource.render(:layout => false) %>
  </article>
<% end %>
