@import "colors"
@import "helpers/responsive_helpers"

article
  @media screen
    background: $background-color
    margin-bottom: 2rem
    padding-bottom: 2rem

body
  color: $text
  font:
    family: Effra, Arial, Helvetica, sans-serif
    size: 18px
    style: normal
  font-weight: 400
  line-height: 1.3
  padding: 0
  text-rendering: optimizelegibility

  +tablet-up
    border:
      left: 4rem solid $corporate-white
      right: 4rem solid $corporate-white
    margin: 4rem
      left: auto
      right: auto
    max-width: 80em

  @media print
    font-size: 12px
    margin: inherit

html
  background: $corporate-white

h1, h2, h3, h4
  break-after: avoid
  color: $red
  font:
    family: Effra, Arial Black, Arial, Helvetica, sans-serif
    weight: bold
  margin-top: 2em

h1
  font:
    size: 2.5em
  margin:
    bottom: 0
    top: 0

p
  max-width: 50em

section
  margin:
    bottom: 1rem
    top: 1rem
  padding:
    left: 2rem
    right: 2rem

  @media print
    clear: both
    padding:
      left: 0
      right: 0

img
  break:
    after: auto
    before: auto
    inside: avoid
  margin-bottom: 1em
  max-width: 100%
