// LEGO Foundation Core Colors
//
// http://hellomonday.net/clients/legofoundation/brandguide/
$corporate-grey-dark: #646464
$corporate-grey-extra-light: #e0e0e0
$corporate-red: #d01012
$corporate-red-dark: #8c0008
$corporate-turquoise: #41aacd
$corporate-turquoise-light: #cae8f2
$corporate-yellow: #ffcf00
$corporate-yellow-dark: #e9ac00
$corporate-white: #ffffff

$background-color: rgba(241, 241, 241, 1)
$dark-grey: $corporate-grey-dark
$dark-red: $corporate-red-dark
$negative-background-text: $corporate-white
$red: $corporate-red
$text: $corporate-grey-dark
$teaser-text: $corporate-grey-dark

.story-machines
  header,
  .block-link,
  .gallery-figure
    background-color: $corporate-turquoise

  .gallery-item-title
    background-color: rgba($corporate-turquoise, 0.5)

  h1, h2, h3, h4
    color: $corporate-turquoise

.about
  header,
  .block-link
    background-color: $corporate-red

  h1, h2, h3, h4
    color: $corporate-red

.creatures
  header,
  .block-link
    background-color: $corporate-yellow-dark

  .gallery-item-title
    background-color: rgba($corporate-yellow-dark, 0.5)

  h1, h2, h3, h4
    color: $corporate-yellow-dark
