<% current_page.data.style = current_page.data.category %>
<% wrap_layout :layout do %>
  <header class="lede full-bleed">
    <div class=" lede-header">
      <div class="breadcrumb">
        <%= link_to("Tinkering Toolbox Educators Guide", "/") %>
        &gt;
        <% parent_page = sitemap.resources.find { |resource| resource.url == "/#{I18n.locale}/#{current_page.data.category}/" } %>
        <%= link_to(parent_page.data.title, parent_page.url) %>
      </div>

      <h1 class="lede-header-title">Documentation example: <%= current_page.title %></h1>
    </div>

  </header>

  <div class="gallery">
    <%= video_tag(current_page.data.video, :class => "gallery-item lede-video", :controls => true) %>
  </div>

  <section>
    <%= yield %>
  </section>
<% end %>
