<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Middleman" %></title>

    <meta name="theme-color" content="#a03637"/>
  </head>
  <body class="<%= current_page.data.style %>">
    <article>
      <%= yield %>
    </article>
    <%= stylesheet_link_tag "layout" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
