---
title: Tinkering Toolbox Educators Guide
---

<header class="hero about">
  <h1>Tinkering Toolbox<br>Educators Guide</h1>
  <%= partial "about/introduction.md" %>
  <%= link_to("Read more about LEGOTinkering", local_path("/about")) %>
</header>

<section class="starters-item creatures">
  <% link_to(local_path("/creatures"), :class => "block-link lede") do %>
    <%= partial "creatures/introduction.md" %>
  <% end %>
  <div class="gallery">
    <%= partial "creatures/most_recent_documentation.en" %>
  </div>
</section>

<section class="starters-item story-machines">
  <% link_to(local_path("/story-machines"), :class => "block-link lede") do %>
    <%= partial "story-machines/introduction.md" %>
  <% end %>
  <div class="gallery">
    <%= partial "story-machines/most_recent_documentation.en" %>
  </div>
</section>
