<div class="lede-header">
  <%= yield_content :breadcrumbs %>
  <h1 class="lede-header-title">Creatures Activity</h1>
</div>
<div class="lede-content">
  <div class="lede-teaser">
    Craft a critter that walks, scoots, or wiggles across a rugged landscape. Critters use a pull-string motor and are made from a combination of LEGO and everyday materials. Experience how your critter explores an immersive environment made with everyday materials of a variety of textures. Tinker with the critter’s design to change how it moves in its habitat.
  </div>
</div>
