// Render the URL for external links in parenthesis after the link
@media print
  p a[href^="http:"]:after
    color: $text
    content: " (" attr(href) ")"
    font-size: 90%
    word-wrap: break-word
