<div class="lede-header">
  <%= yield_content :breadcrumbs %>
  <h1 class="lede-header-title">Story Machines Activity</h1>
</div>
<div class="lede-content">
  <div class="lede-teaser">
    Story Machines are sculptural kinetic contraptions made from LEGO and everyday craft materials. They use linkages and a pull-string motor as the foundation for movement, and animate a story, scene, or character with the addition of materials like paper, feathers, or googly eyes.
  </div>
</div>
