<% blog.articles.select { |article| article.data.category == "story-machines" }.each.with_index do |article, index| %>
  <% link_to(article.url, :class => "gallery-item") do %>
    <%= video_preview_tag(article.data.video, :class => "lede-image") %>
    <div class="gallery-item-title">
      Documentation example
      <strong><%= article.title %></strong>
    </div>
  <% end %>
<% end %>
