LEGO Tinkering is an approach to <strong>thinking</strong> and <strong>learning</strong> that emphasizes the importance for learners of all ages to think with their hands by <strong>exploring</strong> materials, <strong>building</strong> objects, constructing <strong>knowledge</strong>, and developing personally <strong>meaningful understanding</strong>.
