@import "../colors"
@import "../helpers/responsive_helpers"

.gallery
  margin:
    left: 2rem
    right: 2rem

  +tablet-up
    display: flex
    flex-wrap: wrap
    justify-content: center

.gallery-figure
  margin:
    left: 0
    right: 0
  padding: 1rem

  +tablet-up
    padding: 2rem

  img:last-of-type
    margin-bottom: 0

.gallery-figure-caption
  color: $corporate-white
  margin-top: -0.4rem
  padding: 1rem

.gallery-item
  display: block
  margin-bottom: 1rem

  // Allow for absolute positioning inside
  position: relative

  +tablet-up
    flex: 1
    margin:
      left: 0.5rem
      right: 0.5rem
      top: 0
    min-width: 350px
    max-width: 33%

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

  img
    display: block
    margin: 0
    max-width: 100%
    width: 100%

.gallery-item-title
  background: rgba($corporate-grey-dark, 0.5)
  bottom: 0
  box-sizing: border-box
  color: $corporate-white
  display: block
  left: 0
  padding: 0.5rem 1rem
  position: absolute
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 1px
  width: 100%

  strong
    display: block

.gallery-video
  display: block
  max-width: 725px
  width: 100%

  +tablet-up
    max-width: 400px

header + .gallery
  margin:
    bottom: 4rem
    top: -2rem
