@import "../colors"

%lede-element
  @media screen
    color: $negative-background-text

.lede
  background: $corporate-grey-dark
  padding: 2rem
    bottom: 4rem

.lede-header
  @extend %lede-element

  .lede-header-title
    @media screen
      color: $negative-background-text

.lede-content
  @extend %lede-element

  display: flex
  flex-wrap: wrap
  margin: 0
  padding: 0

.lede-image
  margin: 0
    bottom: 1rem
  max-width: 400px
  width: 100%

  // dont push the image out of bounds when window is small
  @media (max-width: 600px)
    margin: 0

  @media print
    background: none
    color: $text

.lede-teaser
  flex: 1 1 auto
  font:
    weight: 300
    size: 1.2em
  line-height: 1.15
  margin:
    bottom: 0
    top: 2rem
  max-width: 100%

  @media print
    background: none
    color: $text

.lede-video
  display: block
  margin:
    left: auto
    right: auto
  max-width: 725px
  width: 100%
