// Starter
//
// Renders a list of starter activities with links to pages with details of each
// starter activity.

.starters-item
  margin:
    bottom: 1rem
    top: 1rem
  padding: 0

@media (min-width: 600px)
  .starters
    margin:
      left: -1rem
      right: -1rem

  .starters-item
    overflow: hidden
    position: relative

  .starters-item .gallery
    margin:
      bottom: 4rem
      top: -2rem
