// Step By Step
//
// A content section dedicated to showing step by step instructions. It renders
// content and a set of images next to each other, with the content partially
// overlaying the images, and the images extending vertically next to the
// content.
//
// Use this when showing 2-3 related images for a given section.
//
// Variants:
//
// * .step-by-step-text-first: Puts extra focus on the text content of the Step
//   By Step Gallery by placing the text content first (left).
//
.step-by-step
  .step-by-step-gallery
    img
      display: block
      margin:
        bottom: 1em
        top: 0
      width: 100%

@media screen
  +tablet-up
    .step-by-step
      overflow: hidden
      position: relative

      .step-by-step-text,
      .step-by-step-gallery
        max-width: 60em
        width: 50%

      .step-by-step-text
        background: #ffffff
        float: right
        margin-right: -2rem

        // Push the text down below the gallery images
        margin-top: 6rem

        padding: 2rem

        // Make sure text stays above the gallery
        position: relative
        z-index: 1

        *:first-child
          margin-top: 0

      .step-by-step-gallery
        left: 0
        max-width: 60em
        position: absolute
        top: 2rem

        // Layer the images below the text content
        z-index: 0

  .step-by-step-text-first
    +tablet-up
      .step-by-step-gallery
        left: auto
        right: 0

      .step-by-step-text
        float: left
        margin-left: -2rem

        // Push the text down below the gallery images
        margin-top: 4rem
